{% extends 'base.html' %}
{% load static %}

{% block content %}
<main id="body">
    {% include 'messages.html' %}
    <section id="wardrobe-welcome" class="container mb-5">
        <header class="text-center mb-4">
            <h1>Добро пожаловать на OutfitMate!</h1>
            <p>OutfitMate проанализирует твой гардероб и покажет, какие образы ты можешь составить</p>
            <p>Необходимо добавить хотя бы 10 вещей из твоего гардероба, чтобы получить рекомендации.</p>
        </header>
        
        <div class="suggested-items-container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                {% for item in items %}
                <div class="col">
                    <div class="card h-100 item-card {% if item.id|stringformat:"s" in selected_items %}selected{% endif %}" data-item-id="{{ item.id }}">
                        <div class="card-img-container position-relative">
                            {% if item.image %}
                                <img src="{{ item.image.url }}" class="card-img-top object-fit-cover" alt="{{ item.name }}" style="height: 200px;">
                            {% else %}
                                <div class="card-img-top bg-secondary text-white d-flex align-items-center justify-content-center" style="height: 200px;">
                                    <i class="bi bi-image"></i>
                                </div>
                            {% endif %}
                            <!-- Иконка состояния -->
                            <div class="icon-overlay d-flex align-items-center justify-content-center">
                                {% if item.id|stringformat:"s" in selected_items %}
                                    <i class="bi bi-check-circle-fill text-success"></i>
                                {% else %}
                                    <i class="bi bi-plus-circle-fill text-secondary"></i>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-body d-flex flex-column justify-content-between">
                            <h5 class="card-title">{{ item.name }}</h5>
                        </div>
                    </div>
                </div>                
                {% endfor %}
            </div>
        </div>

        <section class="mt-4 text-center">         
            <a class="btn btn-success" 
            href="{% url 'recommendations' %}" id="recommendation-link">
             Ура! Смотреть рекомендации <i class="bi bi-chevron-right"></i>
            </a>         
        </section>
    </section>
</main>
<script src="{% static 'js/chooseItem.js' %}"></script>
{% endblock %}