<footer class="bg-body text-dark mt-5">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-4">
                <h5>О компании</h5>
                <p>OutfitMate помогает создавать уникальные образы из вашего гардероба. Мы стремимся сделать моду доступной и удобной для каждого.</p>
            </div>
            <div class="col-md-4">
                <h5>Контакты</h5>
                <p>Телефон: +7 (495) 123-45-67</p>
                <p>Email: support@outfitmate.ru</p>
                <p>Адрес: г. Москва, ул. Примерная, д. 10</p>
            </div>
            <div class="col-md-4">
                <h5>Следите за нами</h5>
                <a href="#" class="text-dark me-3"><i class="bi bi-facebook"></i> Facebook</a>
                <a href="#" class="text-dark me-3"><i class="bi bi-instagram"></i> Instagram</a>
                <a href="#" class="text-dark"><i class="bi bi-twitter"></i> Twitter</a>
            </div>
        </div>
        <div class="text-center mt-3">
            <p>© 2024 OutfitMate. Все права защищены.</p>
        </div>
    </div>
</footer>